# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build
/builds
/release
/debug
/moc
/obj
/bin
*.debug
*.release
MakeFile*
*.obj
moc_*

#QtCreator
ui_*.h
*.pro.user
