<?xml version="1.0" encoding="UTF-8" ?>
<freeloader>
	<dynamixel>
		<serial>AD01UY23</serial>
		<motor>1</motor>
		<countersPerRev>1000</countsPerRev>
		<defaultAlpha>1</defaultAlpha>
		<defaultBeta>0</defaultBeta>
		<maxCW>2045</maxCW>
		<minCW>1025</minCW>
		<maxCCW>1022</maxCCW>
		<minCCW>2</minCCW>
	</dynamixel>
	<loadCell>
		<serial>AD01UY23</serial>
		<comport>14</comport>
		<ReadIntervalTimeout>50</ReadIntervalTimeout>
		<ReadTotalTimeoutConstant>50</ReadTotalTimeoutConstant>
		<ReadTotalTimeoutMultiplier>10</ReadTotalTimeoutMultiplier>
		<WriteTotalTimeoutConstant>50</WriteTotalTimeoutConstant>
		<WriteTotalTimeoutMultiplier>10</WriteTotalTimeoutMultiplier>
		<BaudRate>9600<BaudRate>
		<ByteSize>8</ByteSize>
		<StopBits>1</StopBits>
		<Parity>0</Parity>
		<maxForce>12</maxForce>
	</loadCell>
	<axis>
		<revPerMM>0.5277</revPerMM>
                <updateRate unit='Hz'>5</updateRate>
	</axis>
</freeloader>
