<?xml version="1.0" encoding="UTF-8" ?>
<freeloader>
	<dynamixel>
		<serial>AD01UY23</serial>
		<motor>1</motor>
		<countsPerRev>1000</countsPerRev>
		<defaultAlphaCW>0.0362830709</defaultAlphaCW>
		<defaultBetaCW>-39.7760880746</defaultBetaCW>
		<defaultAlphaCCW>-1.4641653467</defaultAlphaCCW>
		<defaultBetaCCW>0.0348805410</defaultBetaCCW>
		<dzFloor>5</dzFloor>
		<dzCeiling>995</dzCeiling>
		<maxCW>2045</maxCW>
		<minCW>1025</minCW>
		<maxCCW>1022</maxCCW>
		<minCCW>2</minCCW>
        <clicksPerInch>50000</clicksPerInch>
	</dynamixel>
	<loadCell>
        <comport>3</comport>
		<ReadIntervalTimeout>50</ReadIntervalTimeout>
		<ReadTotalTimeoutConstant>50</ReadTotalTimeoutConstant>
		<ReadTotalTimeoutMultiplier>10</ReadTotalTimeoutMultiplier>
		<WriteTotalTimeoutConstant>50</WriteTotalTimeoutConstant>
		<WriteTotalTimeoutMultiplier>10</WriteTotalTimeoutMultiplier>
		<BaudRate>9600<BaudRate>
		<ByteSize>8</ByteSize>
		<StopBits>0</StopBits>
		<Parity>0</Parity>
		<maxForce>12</maxForce>
	</loadCell>
	<axis>
		<mmPerRev>0.5277</mmPerRev>
        <updateRate unit='Hz'>5</updateRate>
	</axis>
</freeloader>
